#registry=https://npm.pkg.github.com/@tivic-team
#registry=https://registry.npmjs.org
registry=https://registry.npmjs.org
@tivic-team:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true
